* {
    font-family: 'Garamond';
    color: white;
}

header {
    background-color: indigo;
    text-align: center;
    padding: 2px;
}

.lewy,
.prawy {
    background-color: indigo;
    height: 600px;
}

.srodkowy {
    background-color: black;
    height: 600px;
    overflow: scroll;
}

footer {
    background-color: indigo;
    height: 150px;
}

.punkty {
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
}

li {
    padding: 5px;
}

.gra {
    text-align: center;
    padding: 3px;
    float: left;
}

input {
    margin: 10px;
    color: indigo;
}

.clear-both {
    clear: both;
}


@media (min-width: 800px) {

    .lewy,
    .prawy {
        width: 20%;
    }

    .srodkowy {
        width: 60%;
    }

    .lewy,
    .srodkowy,
    .prawy {
        float: left;
    }

    footer {
        clear: both;
    }
}

/* Elementy, które są widoczne na zdjęciu, a nie są wymienione w opisie */
.prawy label,
.prawy input {
    display: block;
}

button {
    color: indigo !important;
}