* {
    font-family: 'Cambria';
}

body {
    background-color: mistyrose;
}

header,
footer {
    height: 200px;
    text-align: center;
    overflow: hidden;
}

footer {
    clear: both;
}

section {
    background-color: Plum;
    height: 400px;
    margin: 5px;
    box-shadow: 4px 4px 10px dimgray;
    overflow: hidden;
    float: left;
    width: 22%;
}

@media only screen and (max-width: 800px) {
    section {
        width: 100%;
    }
}

h2 {
    text-align: center;
}

button:hover {
    background-color: #505050;
    color: white;
}