* {
  font-family: Georgia;
}

header section {
  background-color: navy;
  color: white;
  text-align: center;
  height: 100px;
  width: 50%;
  float: left;
}

.clear {
  clear: both;
}

.menu {
  background-color: navy;
  padding: 20px;
}

.stany {
  color: silver;
  margin: 50px;
}

.stany:hover {
  color: white;
  text-decoration: underline;
}

.lewy,
.prawy {
  background-color: azure;
  height: 550px;
  float: left;
}

.lewy {
  width: 70%;
}

.prawy {
  width: 30%;
}

footer {
  clear: both;
  background-color: navy;
  color: white;
}

table {
  border: 1px solid navy;
  margin: auto;
  width: 70%;
}

table tr:hover {
  background-color: skyblue;
}

.prawy img {
  width: 90%;
}
