body {
  font-family: Garamond;
  margin: 0;
}

header section {
  float: left;
}

.lewy {
  background-color: #00600f;
  color: white;
  text-align: center;
  width: 75%;
  height: 90px;
}

.prawy {
  background-color: #00600f;
  color: white;
  width: 25%;
  height: 90px;
}

.clear-both {
  clear: both;
}

main {
  background-color: #c8e6c9;
  height: 600px;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer {
  background-color: #00600f;
  color: white;
}

h5 {
  background-color: #00600f;
  color: white;
  font-size: 200%;
  text-align: center;
  margin: 0;
}

h2 {
  text-align: right;
}

.wygenerowany-blok {
  margin: 10px;
  border: 1px solid #00600f;
  width: 300px;
}
